<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EncodeAuto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EncodeAuto.Properties.Settings>
            <setting name="ExePath" serializeAs="String">
                <value>%LOCALAPPDATA%\EncodeAuto\EndodeAuto.bat</value>
            </setting>
            <setting name="Arguments" serializeAs="String">
                <value>ffmpeg.exe -i %input -c:v libx264 -crf 23 -c:a aac -b:a 192k %out</value>
            </setting>
            <setting name="Safix" serializeAs="String">
                <value>_enc.mp4</value>
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value>%USERPROFILE%\Videos\EncodeAuto</value>
            </setting>
            <setting name="MoveComp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActiveRedioBox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SameDirOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioNormalize" serializeAs="String">
                <value>False</value>
            </setting>
        </EncodeAuto.Properties.Settings>
    </userSettings>
</configuration>
