<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <EncodeAuto.Properties.Settings>
            <setting name="ExePath" serializeAs="String">
                <value>D:\otherProgram\EncodeAuto\EndodeAuto.bat</value>
            </setting>
            <setting name="Arguments" serializeAs="String">
                <value>ffmpeg -y -i %input -vf "eq=brightness=0.25:contrast=1.25:saturation=1.83" -c:v libx264 -preset medium -crf 20 -c:a copy %out</value>
            </setting>
            <setting name="Safix" serializeAs="String">
                <value>_bright.mp4</value>
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value>D:\_EncodeOut</value>
            </setting>
            <setting name="MoveComp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Pause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActiveRedioBox" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SameDirOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShortFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioNormalize" serializeAs="String">
                <value>False</value>
            </setting>
        </EncodeAuto.Properties.Settings>
    </userSettings>
</configuration>